* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
html,
body {
  height: 100%;
  width: 100%;
}
#main {
  height: 100%;
  width: 100%;
}
#nav {
  position: fixed;
  width: 100%;
  /* background-color: red; */
  display: flex;
  align-items: center;
  padding: 30px 40px;
  justify-content: flex-end;
}
#nav h3 {
  background-color: black;
  color: white;
  margin-left: 10px;
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 50px;
}
#intro {
  height: 45%;
  width: 100%;
  /* background-color: aquamarine; */
  padding: 55px 60px;
}
#intro h1 {
  font-size: 120px;
  line-height: 130px;
  letter-spacing: -3px;
}
#place {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#place h3 {
  font-size: 22px;
}
#hero-img {
  height: 87%;
  width: 100%;
  background-image: url(IMG-20230212-WA0015.jpg);
  background-size: cover;
}
#about {
  height: 45%;
  width: 100%;
  /* background-color: rgb(217, 246, 111); */
  display: flex;
  align-items: center;
  padding: 50px 60px;
  justify-content: space-between;
}
#about h2 {
  /* background-color: red; */
  font-size: 75px;
  width: 65%;
  font-weight: 570;
  line-height: 82px;
}
#about-part2 {
  width: 30%;
  /* background-color: red; */
  height: 100%;
  padding: 0 60px;
  border-left: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#about-part2 h3 {
  font-size: 30px;
  font-weight: 600;
}
#icons i {
  padding: 10px;
  size: 25px;
  background-color: black;
  color: white;
  border-radius: 50px;
  margin: 7px;
}
#work {
  border-top: 2px solid black;
  height: 55%;
  width: 100%;
  display: flex;
  padding: 40px 30px;
  border-bottom: 2px solid black;
}
#work1 {
  font-weight: 600;
  height: 100%;
  width: 45%;
  display: flex;
  padding-right: 60px;
  justify-content: space-between;
  border-right: 2px solid black;
}
#work1 h3 {
  font-size: 30px;
  font-weight: 500;
}
#work i {
  font: 30px;
}
#work2 {
  height: 100%;
  width: 75%;
  padding: 50px 50px;
  background-color: ye;
}

.work2-part {
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  /* background-color: red; */
}
.work2-part:nth-child(1) {
  /* background-color: rebeccapurple;  */
  border-bottom: 2px solid black;
}
.work2-part #elem {
  width: 50%;
}
.work2-part #elem:nth-child(1) {
  padding-right: 20px;
  padding-top: 0;
  border-right: 2px solid black;
}
.work2-part #elem:nth-child(2) {
  padding-left: 60px;
}
.work2-part #elem h4 {
  font-weight: 550;
  margin-bottom: 10px;
  font-size: 28px;
}

.work2-part #elem p {
  /* font-weight: 550; */
  font-size: 18px;
  color: rgba(93, 88, 88, 0.671);
}

#loop {
  display: flex;
  white-space: nowrap;
  font-family: gilroy;
  width: 100%;
  height: 10%;
  overflow-x: hidden;
  /* background-color: yellow; */
  padding: 50px 60px;

}
#loop>h1{
  font-weight: 900;
  animation-name: anim;
  animation-duration: 15s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
#loop>h1>span{
  -webkit-text-stroke: 1.2px #000;
  color: transparent;
  font-weight: 00;
}
@keyframes anim{
  0%{
      transform: translateX(0%);
  }
  100%{
      transform: translateX(-100%);
  }
}

@media (max-width:600px) {
  #nav{
    width: 100%;
    padding: 2vw;
    /* background-color: red; */
  }
  #nav h3{
    font-size: 2vw;
  }
  #intro{
    width:100% ;
    height: 45vw;
    padding: 3vw;
    /* background-color: red; */
  }
  #intro h1{
    font-size: 11vw;
    line-height: 13vw;
    letter-spacing: -3px;
    margin: 3vw;
  }
  #place{
    /* background-color: rebeccapurple; */
    width: 100%;
    height: 10vw;
  }
  #place h3{
    font-size: 2.7vw;
  }
  #hero-img{
    width: 100%;
    height: 50vh;
    background-position: center;
    background-size: cover;
  }
  #about{
    width:100% ;
    height: 40vw;
    padding: 4vw;
    /* background-color: rebeccapurple; */
  }
  #about h2{
    font-size: 4.2vw;
    width: 65%;
    /* background-color: red; */
    padding: 2vw;
    line-height: 5.3vw;
  }
  #about-part2{
    /* display: flex;/ */
    /* flex-direction: column; */
    gap: 3vw;
    width: 35%;
    padding: 4vw;
    font-size: 1vw;
  }
  #about-part2 h3{
    /* width: 35%; */
    white-space: nowrap;
    font-size: 3vw;
  }
  #icons {
    /* background-color: rebeccapurple; */
   display: flex;
   align-items: center;
   justify-content: space-around;
   width: 100%;
   /* padding: 3vw; */
   /* margin-right: 1vw; */
   font-size: 2.2vw;
  }
  #icons a{
    text-decoration: none;
  }
  #work{
    width: 100%;
    height: 60vw;
    padding: 1vw;
    /* background-color: blueviolet; */
    /* display: flex; */
  }
  #work1{
    width: 25%;
    /* background-color: rgb(92, 145, 92); */
  }
  #work1 h3{
      font-size: 3vw;
      white-space: nowrap;
  }
  #work i{
    font-weight: 100;
    font-size: 3.3vw;
  }
  #work2{
    height: 100%;
    width: 75%;
    padding: 1vw;
    /* background-color: rgb(107, 192, 198); */
  }
  .work2-part{
    padding: 2vw;
    width: 100%;
    height: 30vw;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .work2-part:nth-child(1) {
    /* background-color: rebeccapurple;  */
    border-bottom: 2px solid black;
  }
  .work2-part #elem {
    width: 50%;
  }
  .work2-part #elem:nth-child(1) {
    /* padding-right: 20px; */
    height: 15vh;
    /* background-color: rebeccapurple; */
    /* padding-top: 30vw; */
    border-right: 2px solid black;
  }
  .work2-part #elem:nth-child(2) {
    padding-left: 2vw;
    height: 15vh;
    /* background-color: rebeccapurple; */
  }
  .work2-part #elem h4 {
    /* color: black; */
    font-weight: 550;
    margin-bottom: 1vw;
    font-size: 28px;
  }
  .work2-part #elem h4{
    /* font-weight: 550; */
    font-size: 4vw;
    color: rgba(0, 0, 0, 0.817);
  }
  .work2-part #elem p {
    /* font-weight: 550; */
    font-size: 2.2vw;
    color: rgba(93, 88, 88, 0.671);
  }
  #loop{
    overflow: hidden;
    justify-content: center;
    /* align-items: center; */
    display: flex;
    /* background-color: rgb(153, 144, 51); */
  }
}